<!-- app.component.html -->
<div class="main-container">
  <!-- Main Content Area Where Fish and Food Are Displayed -->
  <div class="main-content">
      <!-- Fish Rendering -->
      <img *ngFor="let f of fish" 
           src="../assets/teef_transparent.png" 
           [style.left.px]="f.positionX" 
           [style.top.px]="f.positionY" 
           [style.transform]="'scale(' + f.size + ')'" 
           class="fish" 
           alt="Fish">

      <!-- Food Rendering -->
      <img *ngFor="let food of foods" 
           src="../assets/sol.png" 
           [style.left.px]="food.x" 
           [style.top.px]="food.y" 
           class="food" 
           alt="Food">

      <!-- User Interaction Instruction -->
      <h6>*tap*</h6>
      <h2>TEEF</h2>

      <!-- Optional Buttons -->
      <div class="teef-buttons">
          <a href="https://t.me/TEEFPORTAL"><button class="button-19">Telegram</button></a>
          <a href="https://x.com/hehasteefs"><button class="button-19">Twitter</button></a>
          <a href="https://pump.fun/"><button class="button-19">Pump Fun</button></a>
      </div>
  </div>
</div>

<audio #backgroundMusic loop>
  <source src="../assets/audio/underwater.mp3" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>